<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
    <h2>¡Hola {{ name }}!</h2>
    <p>Bienvenido a la empresa Fedegon. Estamos felices de tenerte con nosotros.</p>
    <p>Tu puesto: <strong>{{ position }}</strong></p>

</body>
</html>